.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
}

.projects-icons-container {
    &:hover {
        cursor: pointer;
    }
}