.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(213, 231, 228);
}