.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(203, 222, 225);
    padding-left: 40px;
    padding-right: 40px;

    .nav-links-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;


        .nav-link {
            padding: 10px 15px;
            cursor: pointer;

            &:hover {
                cursor: pointer;
            }
        }
    }
}