.two-parts-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 660px) {
    .two-parts-container {
        flex-direction: column;
        align-items: center;
    }
}

.contact-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-section-narrow {
    width: 300px;
}

.container-section-wide {
    width: 500px;
}

@media only screen and (max-width: 660px) {
    .container-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}