body {
  margin: 0;
  margin-right: 0;
  width: 100%;
  font-family: 'Futura',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f3f2;
}

html {
  scroll-snap-type: y proximity;
  scroll-padding-top: 60px;
}

.gen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 85vh;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

a {
  text-decoration: none;
  color: #242325;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.headers-site {
  color: #087E8B;
  font-size: clamp(1em, 4em, 6em);
  transition: all .2s ease-in-out;
  font-family: 'Permanent Marker', cursive;
}

.text-site {
  color: #242325;
  font-size: clamp(0.8em, 1.1em, 2em);
}

.normal-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.fat-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}



* {
  box-sizing: border-box;
}